/* TopISPs.css */

.container-isps-top {
    padding: 20px;
    margin: 20px auto;
    max-width: 250px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
  
}

.container-ips-top h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

.container-isps-top ul {
    list-style-type: none;
    padding: 0;
}

.container-isps-top ul li {
    font-size: 1.1em;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: #444;
    display: flex;
    justify-content: space-between;
}

.container-isps-top ul li:last-child {
    border-bottom: none;
}
